article, aside, figure, footer, header, main, nav, section {
    display: block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0 auto;
    width: 500px;
    border: 3px solid blue;
}
main {
    padding: 0 2em 1em;
}
h1 {
	color: blue;
}
label {
	float: left;
    width: 11em;
    text-align: right;
    padding-bottom: .5em;
}
input {
    margin-left: 1em;
    margin-bottom: .5em;
}
#mpg {
	background-color: #eee;
}
