* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 87.5%;
	width: 500px;
	height: 250px;
	margin: 0 auto;
}
section {
	padding: 15px 25px;
}
img {border: none;}
h1 { 
	font-size: 150%;
	margin-bottom: .5em;
}