/* the default styles for the document */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 85%;
	margin: 0 auto;
	padding: 0;
	width: 750px;}
	
div, h1, h3, p {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 140%;
}
p {
	padding-bottom: .5em;
}
	
section h1 {
	margin-left: 50px;
		
}

/* the styles for the section */
section {
	background-color: white;
	width: 500px;
	padding: 20px 0;
	float: left;
	}
section h1 {
	
}
/* the styles for the right sidebar */
aside {
	width: 200px;
	float: right;
	padding: 20px 0;
}
aside img {border: none;}

/* the styles for the carousel */
#carousel {
	margin: 10px 0 0 0;
	padding:0;
	width:400px;
	height:125px;
}
.button	{
	margin:45px 10px 0 10px;
	float:left;
	height:25px;
	width:25px;
}
.panel {
	margin:0;
	overflow:hidden;
	position:relative;
	float:left;
	width:300px;
	height:125px;
}
.panel-inner {
	left:0;
    position:absolute;
    height:125px;
    list-style:none;
    margin:0;
    padding:0
}
.panel-inner li	{
	text-align: center;
	padding: 0;
	margin: 1px 1px 0 0;
	float: left;
	width: 100px;
	height: 125px;
	background: #FFF
}
.panel-inner li img	{
	width: 100px;
	height: 125px;
	margin: 1px 0 0 1px
}