/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 99%;                     /* changed from 800 pixels */
    max-width: 960px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid #931420;
		background-image: -moz-linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #f6bb73 0%, #fffded 30%, white 50%, #fffded 80%, #f6bb73 100%);
	background-image: -o-linear-gradient(
	    30deg, #f6bb73 0%, #fffded 30%, white 50%, #fffded 80%, #f6bb73 100%);
	background-image: linear-gradient(
	    30deg, #f6bb73 0%, #fffded 30%, white 50%, #fffded 80%, #f6bb73 100%);
}
header h2 {
	font-size: 175%;
	color: #800000;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header img {
	float: left;
	padding: 0 3.75%;            /* 30 / 800 x 100 */
}
.shadow {
	text-shadow: 2px 2px 2px #800000;
}
/* the styles for the navigation menu */
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
    width: 20%;                 /* 160 / 800 x 100 */
}
#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #800000;
    color: white;
    font-weight: bold;
}
#nav_menu a.current {
	color: yellow;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}
/* the styles for the main content */
main {
	clear: left;
}

/* the styles for the section */
section {
	width: 65.625%;                  /* 525 / 800 X 100 */
	float: right;
	padding: 0 2.5% 20px 2.5%;       /* 20 / 800 x 100 */
}
section h1 {
	font-size: 150%;
	padding: .5em 0 .25em 0;
	margin: 0;
}
section h2 {
	color: #800000;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}
section p {
	padding-bottom: .5em;
}
section blockquote {
	padding: 0 2em;
	font-style: italic;
}
section ul {
	padding: 0 0 .25em 1.25em;
	list-style-type: circle;
}
section li {
	padding-bottom: .35em;
}

/* the styles for the article */
article {
	padding: .5em 0;
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000;
}
article h2 {
	padding-top: 0;
}
article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
article img {
	float: right;
	max-width: 40%;
	min-width: 150px;
	margin: .5em 0 1em 1em;
	border: 1px solid black;
}

/* the styles for the aside */
aside {
	width: 26.875%;                     /* 215 / 800 x 100 */
	float: right;
	padding: 0 0 20px 2.5%;             /* 20 / 800 x 100 */
}
aside h2 {
	color: #800000;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}

aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: 1em;
}

/* the styles for the footer */
footer {
	background-color: #931420;
	clear: both;

}
footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
}
.slicknav_menu {
	display: none;
}

/* tablet portrait to standard 960 */
@media only screen and (max-width: 959px) {
	section h1 { font-size: 135%; }
	section h2, aside h2 { font-size: 120%; }
}

/* mobile landscape to tablet portrait */
@media only screen and (max-width: 767px) {
	header img { float: none; }
	header { text-align: center; }
	section {
		float: none;
		width: 95%;                     /* 100 - (2 x 2.5) for padding */
	}
	aside {
		float: none;
		padding-right: 2.5%;           /* 20 / 800 x 100 */
		width: 95%;                    /* 100 - (2 x 2.5) for padding */
	}
	article img { max-width: 30%; }
	#speakers {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
	#nav_menu {
		display: none;
	}
	.slicknav_menu {
		display: block;
		background-color: #800000 !important;
	}
}

/* mobile portrait to mobile landscape */
@media only screen and (max-width: 479px) {
	body { font-size: 90%; }
}
