*.exe
*.class
*.zip
.project
/java/netbeans/ex_starts/ch06_ex2_FutureValue/build/
/java/netbeans/ex_starts/ch05_ex1_Invoice/build/
/java/netbeans/ex_starts/ch06_ex1_Invoice/build/
/servlet_and_jsp/netbeans/ex_starts/ch05_ex2_email/build/
/servlet_and_jsp/netbeans/book_apps/ch02email/build/
/servlet_and_jsp/netbeans/ex_starts/ch05_ex2_email/dist/
/servlet_and_jsp/netbeans/ex_solutions/ch05_ex2_email_sol/build/
/servlet_and_jsp/netbeans/ex_solutions/ch05_ex2_email_sol/dist/
/servlet_and_jsp/netbeans/ex_starts/ch05_ex1_email/build/
/servlet_and_jsp/netbeans/ex_starts/ch13_ex1_email/dist/
/servlet_and_jsp/netbeans/ex_starts/ch13_ex1_email/build/
/servlet_and_jsp/netbeans/ex_starts/ch08_ex1_email/build/
/java/netbeans/ex_starts/ch04_ex3_TestScore/build/
/java/netbeans/ex_starts/ch02_ex1_Invoice/build/
/java/netbeans/ex_starts/ch02_ex2_TestScore/build/
/java/netbeans/ex_starts/ch02_ex3_Invoice/build/