body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: white;
    width: 800px;
    margin: 0 auto;
    border: 3px solid blue;
    padding: 0 2em 1em;
}
h1 { 
    font-size: 150%;
    color: blue;
    margin-bottom: .5em;
}
label {
    float: left;
    width: 9em;
}
input, select {
    width: 15em;
    margin-left: 1em;
    margin-bottom: 1em;
}
.error { color: red; }
.show { display: block; }
.hide { display: none; }