.image1:hover {
	transform: matrix(0.5, 0.5, -0.5, 1, 0, 0);
	-webkit-transform: matrix(0.5, 0.5, -0.5, 1, 0, 0);
}
.image2:hover {
	transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
}
.image3:hover {
	transform: scaleX(1.4);
	-webkit-transform: scaleX(1.4);
}
.image4:hover {
	transform: scaleY(1.4);
	-webkit-transform: scaleY(1.4);
}
.image5:hover {
	transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
}
.image6:hover {
	transform: skewY(-30deg);
	-webkit-transform: skewY(-30deg);
}
.image7:hover {
	transform: translateX(30px);
	-webkit-transform: translateX(30px);
}
.image8:hover {
	transform: translateY(20px);
	-webkit-transform: translateY(20px);
}
