/* the reset selector */
* {
	margin: 0;
	padding: 0;
}
/* the styles for the elements */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 700px;
	margin: 1em auto;
}
h1, h2, h3 {
	margin-bottom: 0.25em;
}
a { font-weight: bold; }
a:link { color: #931420; }
a:visited { color: #f2972e; }
a:hover { color: blue; }

ul { margin: 0 0 1.5em 1.25em; }
li {
	font-size: 95%; 
	padding-bottom: 0.35em;
	padding-left: 0.25em; }

p {
	font-size: 95%;
	padding: 0.25em 0; }
em { font-weight: bold; }

/* the styles for the header */
header img { float: left; }
header h2 {
	font-size: 220%;
    color: #f2972e;
    text-align: center;
	text-shadow: 2px 2px 0 black; }
header h3 {
	font-size: 130%;
	font-style: italic;
    text-align: center; }

/* the styles for the main content */
main { clear: left; }
main h1 {
	font-size: 175%;
	margin-top: 1em; }
main h2 { font-size: 130%; }

#contact_us { margin-top: 1em; }
a.date_passed  { color: gray; }

/* the styles for the footer */
footer { margin-top: 1em; }
footer p {
	font-size: 80%;
	text-align: right; }