/* the styles for the elements */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 700px;
	margin: 1em auto; }

h1, h2, h3, p {
	margin: 0;
	padding: 0; }
	
a { font-weight: bold; }
a:link { color: #931420; }
a:hover, a:focus { color: blue; }
a:visited { color: #f2972e; }

ul { margin: 0 0 1.5em; }
li { 
	font-size: 95%; 
	padding-bottom: .35em; }
	
p {	font-size: 95%;
    padding: .25em 0; }
em { font-weight: bold; }

/* the styles for the header */
header img { float: left; }
header h2 {
	font-size: 220%;
    color: #f2972e;
    text-align: center;
	text-shadow: 2px 2px 0 black;
	margin-bottom: .25em; }
header h3 {
	font-size: 130%;
	font-style: italic;
    text-align: center; }

/* the styles for the main content */
main { clear: left; }
main h1 {
	font-size: 175%;
	margin: 1em 0 .35em;
}
main h2 { font-size: 130%; }
#contact_us { margin-top: 1em; }
a.date_passed  { color: gray; }

/* the styles for the footer */
footer { margin-top: 1em; }
footer p {
	font-size: 80%;
	text-align: right; }