/* The styles for the elements */
body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    margin-left: 2em;
    margin-right: 2em;
    width: 400px;
}
h1 {     
    font-size: 160%;
    color: teal;
    margin-bottom: .5em;    
}
h2 {     
    font-size: 130%;
    color: teal;
    margin-bottom: .5em;    
}
label {
    float: left;
    width: 7em;
    margin-bottom: 0.5em;
    padding-top: .3em;
    font-weight: bold;
}
input[type="text"], input[type="email"] {  /* An attribute selector */
    width: 15em;
    margin-left: 0.5em;    
    margin-bottom: 0.5em;
}
span {
    margin-left: 0.5em;    
    margin-bottom: 0.5em;    
}
br {
    clear: both;
}

/* The styles for the classes */
.pad_top {
    padding-top: 0.25em;
}
.margin_left {
    margin-left: 0.5em;
}

/* The styles for a table */
table {
    border: 1px solid black;
    border-collapse: collapse;   
}
th, td {
    border: 1px solid black;
    text-align: left;
    padding: .5em;
}
.right {
    text-align: right;
}