body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: white;
    width: 550px;
    margin: 0 auto;
    border: 3px solid blue;
    padding: 1em;
    text-align: center;
}
h1 {
	color: blue;
	margin: .5em 0 0;
	padding: 0;
	text-align: center;
}
p {
	margin: 0;
	padding: .5em;
    text-align: center;	
}

