/* So the HTML5 structural tags work in older browsers */
article, aside, figure, footer, header, nav, section {
    display: block;
}

/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header h1 {
	color: #800000;
	text-indent: 30px;
}
header h2 {
	font-style: italic;
	text-indent: 30px;
}
header img {
	float: left;
}
.shadow {
	text-shadow: 2px 2px 2px #800000;
}
/* the styles for the section */
section {
	clear: left;
}
section h1 {
	color: #800000;
	font-size: 150%;
}
section h2 {
	font-size: 120%;
}
#speakers {
	font-size: 175%;
	color: black;
}

/* the styles for the footer */
footer p {
	text-align: center;
}
