body {
	font-family: Arial, sans-serif;
	font-size: 100%;
	width: 960px;
	margin: 0 auto;
	background: white;
}
a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#accordion {
	width: 500px;
}
#accordion h3 {
	margin-bottom: .25em;
	background: #000;
}
#accordion h3 a {
	padding: 10px;
	display: block;
	color: #FFF;
}
