body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0 auto;
    width: 630px;
    border: 3px solid blue;
    padding: 0 1em .5em;
}
h1 {
	color: blue;
	margin: .25em 0;
}
p {
	margin: 0 0 .5em;
}
label {
	float: left;
    width: 10em;
    text-align: right;
    padding-bottom: .5em;
}
input {
    width: 5em;
	margin-left: 1em;
    margin-bottom: .5em;
}
textarea {
    width: 30em;
	height: 3em;
	margin-left: 1em;
    margin-bottom: .5em;
}
