<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>TestFilter1</filter-name>
        <filter-class>murach.filters.TestFilter1</filter-class>
    </filter>
    <filter>
        <filter-name>TestFilter2</filter-name>
        <filter-class>murach.filters.TestFilter2</filter-class>
    </filter>
    <filter>
        <filter-name>TestFilter3</filter-name>
        <filter-class>murach.filters.TestFilter3</filter-class>
    </filter>
    <filter>
        <filter-name>TestInitParamsFilter</filter-name>
        <filter-class>murach.filters.TestInitParamsFilter</filter-class>
        <init-param>
            <param-name>logFilename</param-name>
            <param-value>test_init_params.log</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>LogRequestFilter</filter-name>
        <filter-class>murach.filters.LogRequestFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LogResponseFilter</filter-name>
        <filter-class>murach.filters.LogResponseFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LogResponseCookiesFilter</filter-name>
        <filter-class>murach.filters.LogResponseCookiesFilter</filter-class>
    </filter>
    <!--
    <filter-mapping>
        <filter-name>TestFilter1</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TestFilter2</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TestFilter3</filter-name>
        <servlet-name>DownloadServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TestInitParamsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->
    <filter-mapping>
        <filter-name>LogRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <!-- 
    <filter-mapping>
        <filter-name>LogResponseFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    -->
    <filter-mapping>
        <filter-name>LogResponseCookiesFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>murach.download.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>