USE [master]
GO

IF DB_ID('ProductOrders') IS NOT NULL
DROP DATABASE [ProductOrders]
GO

/****** Object:  Database [ProductOrders]    Script Date: 5/2/2012 3:17:14 PM ******/
CREATE DATABASE [ProductOrders]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductOrders_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ProductOrders.mdf' , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'ProductOrders_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ProductOrders_log.ldf' , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductOrders].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [ProductOrders]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 5/3/2012 10:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustID] [int] IDENTITY(1,1) NOT NULL,
	[CustFirstName] [nvarchar](50) NULL,
	[CustLastName] [nvarchar](50) NOT NULL,
	[CustAddress] [nvarchar](255) NOT NULL,
	[CustCity] [nvarchar](50) NOT NULL,
	[CustState] [nvarchar](20) NOT NULL,
	[CustZip] [nvarchar](20) NOT NULL,
	[CustPhone] [nvarchar](30) NOT NULL,
	[CustFax] [nvarchar](30) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Items]    Script Date: 5/3/2012 10:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Artist] [nvarchar](50) NOT NULL,
	[UnitPrice] [money] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 5/3/2012 10:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[Quantity] [smallint] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/3/2012 10:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] NOT NULL,
	[CustID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[ShippedDate] [datetime] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustID], [CustFirstName], [CustLastName], [CustAddress], [CustCity], [CustState], [CustZip], [CustPhone], [CustFax]) VALUES (1, N'Korah', N'Blanca', N'1555 W Lane Ave', N'Columbus', N'OH', N'43221', N'6145554435', N'6145553928')
INSERT [dbo].[Customers] ([CustID], [CustFirstName], [CustLastName], [CustAddress], [CustCity], [CustState], [CustZip], [CustPhone], [CustFax]) VALUES (2, N'Yash', N'Randall', N'11 E Rancho Madera Rd', N'Madison', N'WI', N'53707', N'2095551205', N'2095552262')
INSERT [dbo].[Customers] ([CustID], [CustFirstName], [CustLastName], [CustAddress], [CustCity], [CustState], [CustZip], [CustPhone], [CustFax]) VALUES (3, N'Johnathon', N'Millerton', N'60 Madison Ave', N'New York', N'NY', N'10010', N'2125554800', NULL)
SET IDENTITY_INSERT [dbo].[Customers] OFF
INSERT [dbo].[Items] ([ItemID], [Title], [Artist], [UnitPrice]) VALUES (1, N'Umami In Concert', N'Umami', 17.9500)
INSERT [dbo].[Items] ([ItemID], [Title], [Artist], [UnitPrice]) VALUES (2, N'Race Car Sounds', N'The Ubernerds', 13.0000)
INSERT [dbo].[Items] ([ItemID], [Title], [Artist], [UnitPrice]) VALUES (3, N'No Rest For The Weary', N'No Rest For The Weary', 16.9500)
INSERT [dbo].[OrderDetails] ([OrderID], [ItemID], [Quantity]) VALUES (381, 1, 1)
INSERT [dbo].[OrderDetails] ([OrderID], [ItemID], [Quantity]) VALUES (601, 9, 1)
INSERT [dbo].[OrderDetails] ([OrderID], [ItemID], [Quantity]) VALUES (442, 1, 1)
INSERT [dbo].[Orders] ([OrderID], [CustID], [OrderDate], [ShippedDate]) VALUES (19, 1, CAST(0x00009D9E00000000 AS DateTime), CAST(0x00009DA300000000 AS DateTime))
INSERT [dbo].[Orders] ([OrderID], [CustID], [OrderDate], [ShippedDate]) VALUES (29, 8, CAST(0x00009DAA00000000 AS DateTime), CAST(0x00009DB000000000 AS DateTime))
INSERT [dbo].[Orders] ([OrderID], [CustID], [OrderDate], [ShippedDate]) VALUES (32, 11, CAST(0x00009DAF00000000 AS DateTime), CAST(0x00009DB200000000 AS DateTime))
USE [master]
GO
